body {
  background-color: #d0e4fe;
}

h1 {
  color: orange;
  text-align: center;
  font-family: "Verdana";
  font-weight: bold;
}

p {
  font-family: "Verdana";
  font-size: 30px;
  text-align: center;
}
