body {
  background-color: #7CD0FF;
}

p {
  font-family: "Verdana";
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 64px;
  text-align: center;
  color: #696B6C;
}

footer {
  font-family: "Verdana";
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}
