<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="panel panel-default">
         <div class="panel-body">
            <h2>About</h2>
            <p>Elizabeth Dielentheis grew up in the wee town of New Brighton, Minnesota. At age 9, she moved to Mahtomedi, Minnesota, and everything changed. Her school was differnet. Her friends were different. Curiously, her family members remained the same.</p>
            <p>As Elizabeth progressed through school, she found that she loved learning; she loved all of her classes. Well, except for Art classes and U.S. History classes. Why would we spend time learning about the U.S. when civilizations like ancient mesopotamia were so much more interesting? I was all up in that ferile crescent. </p>

         </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
