<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Neat Gifs</h2>
            <p>Who doesn't love some sweet gifs? Enjoy.</p>
            <br><br>

            <iframe src="//giphy.com/embed/I8PFuF7ZlARGM" width="480" height="192" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
