<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>good morn</h1>

  <p id="demo">
    well, something's going right
  </p>

  <button type="button" onclick="myFunction()">
    click me for a ~surprise~
  </button>

  <a href = "secondpage.ejs">
    <button type = "button" onclick = "tryMe()">
    i don't really know what this button will do
    </button>
  </a>

</body>

</html>
