<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="panel panel-default">
         <div class="panel-body">
            <h2>This is great</h2>

            <center>
            <img src = https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11043064_10204666934687695_3695383813859233362_n.jpg?oh=f6905d529de34585c8a317deb616a2cf&oe=577454F5 style="width:250px; height: 260px;">
            </center>

            <h1>What can I say about myself?</h1>
            <p> Well, there's not much to say. I'm learning. Living. Learning. Loving. Learning to live. Living to love. Live. Love. Laugh.</p>
          </div>
         </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
