<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>This is great</h2>
            <img src = https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11043064_10204666934687695_3695383813859233362_n.jpg?oh=f6905d529de34585c8a317deb616a2cf&oe=577454F5 style="width:200px; height: 200px;">
            <p>What can I say about myself?</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
