<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>

<h1>got damn</h1>

<p id = "here">
  look, a new page!
</p>

</body>

</html>
